@page "/conversations/new"

@using System.Timers
@using DataAccessLibrary
@using DataAccessLibrary.Models
@using DataAccessLibrary.DataProviders.Interfaces
@using DataAccessLibrary.Interfaces

@inject IContactsData contactsRepository;
@inject IMessagesData messagesRepository;
@inject IConversationsData conversationsRepository;
@inject IEntityRepository connection;
@inject IJSRuntime JSRuntime;

@namespace Library.Client

<h4>Conversation Creator</h4>

<div class="container">
    <div class="row">
        <div class="col">
            @if (Contacts is null)
            {
                <p>Loading Contacts...</p>
            }
            else
            {
                <input type="text" class="form-control" @oninput="@(e => SearchStarted(e))">
                <div class="scrollable-container">
                    @foreach (var contact in Contacts)
                    {
                        var classname = SelectedContact?.Id != contact.Id ? "contactListItem" : "contactListItem selected";
                        if (!contact.HiddenInUI)
                        {
                            <div class="@classname" id="@contact.Id" @onclick="@(e => ContactSelectionChanged(e, contact.Id))">@contact.FullName</div>
                        }
                    }
                </div>
            }
        </div>
        <div class="col-6">
            @if (SelectedContact != null)
            {
                if (Messages?.Count > 0) {
                    <h5>@($"{@SelectedContact.FullName} Conversation")</h5>
                    <div class="scrollable-container" id="messages-container">
                        @foreach (var message in Messages)
                        {
                            string conversationName = Conversations.FirstOrDefault(x => x.Id == message.ConversationId)?.Subject;
                            string className = message.ToContactId == SelectedContact.Id ? "message" : "message darker";
                            <ChatMessage ClassName="@className" MessageText="@message.Text" SentOn="@message.SentOn.ToString()" ConversationName="@conversationName" />
                        }
                    </div>
                }
                else {
                    <h5>@($"No messages")</h5>
                }
            }
            else
            {
                <h4>Select Contact</h4>
            }
        </div>
        <div class="col">
            <form>
                <LookupField LookupNameSource="FullName" Label="From" @bind-Output="MessageSentFrom" />
                <div class="reverse-button" @onclick="ReverseAddressees">
                    <i class="fas fa-exchange-alt fa-rotate-90"></i>
                </div>
                <LookupField LookupNameSource="FullName" Label="To" @bind-Output="MessageSentTo" />
                <DateTimeField Label="Sent On" @bind-Output="MessageSentOn" />
                <div class="form-group">
                    <label>Text</label>
                    <textarea type="text" class="form-control" placeholder="Text" @bind="MessageText"></textarea>
                </div>
                <LookupField LookupNameSource="Subject" Label="Conversation" @bind-Output="MessageConversation" PreloadRecordsCount="5"/>
                <LookupField LookupNameSource="Description" Label="Website" @bind-Output="MessageWebsite" PreloadRecordsCount="7" />
                <LookupField LookupNameSource="Name" Label="Platform" @bind-Output="MessagePlatform" PreloadRecordsCount="7"/>
                <button type="button" class="btn btn-info" @onclick="CreateEntity">Add Message</button>
            </form>
        </div>
    </div>
</div>

@code {
    private List<Contact> Contacts;
    private List<Contact> FilteredContacts;
    private List<Message> Messages;
    private List<DataAccessLibrary.Models.Conversation> Conversations;

    private string SearchString;

    private Timer searchTimer = new Timer(400);

    // New Message Section
    private EntityReference MessageSentFrom = new EntityReference("contact", Guid.Parse("50A79A31-788A-E811-8F78-08002791E63C"));
    private EntityReference MessageSentTo = new EntityReference("contact");
    private DateTime? MessageSentOn;
    private string MessageText;
    private EntityReference MessageConversation = new EntityReference("conversation");
    private EntityReference MessageWebsite = new EntityReference("website");
    private EntityReference MessagePlatform = new EntityReference("communicationplatform");
    // End

    private Contact SelectedContact;

    private void ContactSelectionChanged(MouseEventArgs e, Guid selectedContactId)
    {
        SelectedContact = null;
        Messages = null;
        Conversations = null;
        SelectedContact = Contacts.FirstOrDefault(x => x.Id == selectedContactId);
        MessageSentTo = new EntityReference("contact", SelectedContact.Id);
        LoadMessages();
    }

    private void ReverseAddressees(){
        var tempReference = MessageSentTo;
        MessageSentTo = MessageSentFrom;
        MessageSentFrom = tempReference;
    }

    protected override async Task OnInitializedAsync()
    {
        Contacts = await contactsRepository.GetContacts(null, "Id", "FullName");
        searchTimer.Elapsed += DoSearch;
    }

    async void LoadMessages()
    {
        Messages = await messagesRepository.GetMessages($"FromContactId = '{SelectedContact.Id}' OR ToContactId = '{SelectedContact.Id}'", "Text", "SentOn", "ConversationId", "FromContactId", "ToContactId");
        Conversations = await conversationsRepository.GetConversations($"Id in (Select ConversationId From Messages Where FromContactId = '{SelectedContact.Id}' OR ToContactId = '{SelectedContact.Id}')", "Id", "Subject");
        StateHasChanged();
        await JSRuntime.InvokeAsync<string>("userJsFunctions.scrollToBottom", "messages-container");
    }

    private async void CreateEntity()
    {
        Entity message = new Entity("message");
        message["SentOn"] = MessageSentOn;
        message["Text"] = MessageText;
        message["FromContactId"] = MessageSentFrom;
        message["ToContactId"] = MessageSentTo;
        message["ConversationId"] = MessageConversation;
        message["WebsiteId"] = MessageWebsite;
        message["PlatformId"] = MessagePlatform;
        message["TextFormat"] = "BBCode";

        try {
            var newId = connection.Create(message);
            var newMessage = new Message(){
                ConversationId = MessageConversation.Id,
                FromContactId = MessageSentFrom.Id,
                Id = newId,
                PlatformId = MessagePlatform.Id,
                Text = MessageText,
                SentOn = MessageSentOn,
                ToContactId = MessageSentTo.Id,
                WebsiteId = MessageWebsite.Id
            };
            Messages.Add(newMessage);
            MessageText = string.Empty;
            await JSRuntime.InvokeAsync<string>("userJsFunctions.scrollToBottom", "messages-container");
            if(newId == Guid.Empty)
            {
                throw new Exception("Entity Creation Error");
            }
        }
        catch (Exception ex) {
            throw ex;
        }
    }

    void SearchStarted(ChangeEventArgs e)
    {
        if (SearchString != e.Value.ToString().ToLower())
        {
            SearchString = e.Value.ToString().ToLower();
            searchTimer.Stop();
            searchTimer.Start();
        }
    }

    private void DoSearch(Object source, ElapsedEventArgs e)
    {
        searchTimer.Stop();
        if (!string.IsNullOrEmpty(SearchString))
        {
            foreach (var contact in Contacts)
            {
                if (contact.FullName.ToLower().IndexOf(SearchString) == -1)
                {
                    contact.HiddenInUI = true;
                }
                else
                {
                    contact.HiddenInUI = false;
                }
            }
        }
        InvokeAsync(StateHasChanged);
    }
}