@page "/"
@page "/conversations/new"

@using Attribute = DataAccessLibrary.Attribute

@inject IEntityRepository connection
@inject IMetadataRepository metadataClient
@inject IJSRuntime JSRuntime

@namespace Library.Client

<h4>Conversation Creator</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @if (Conversations is null || Conversations.Count == 0)
            {
                <p>Loading Conversations...</p>
            }
            else
            {
                <input type="text" class="form-control form-control-sm rounded-0" @oninput="@(e => SearchStarted(e))">
                <div class="scrollable-container">
                    @foreach (var conversation in VisibleConversations)
                    {
                        var classname = SelectedConversation?.Id != conversation.Id ? "listItem" : "listItem selected";
                        var isChat = conversation.LogicalName.ToLower() == "conversation" ? "Chat:" : string.Empty;
                        <div class="@classname" id="@conversation.Id" @onclick="@(e => ConversationSelectionChanged(e, conversation.Id))">@isChat @conversation.Name</div>
                    }
                </div>
            }
        </div>
        <div class="col-6">
            @if (SelectedConversation != null)
            {
                if (Messages?.Count > 0)
                {
                    <h5>@(SelectedConversation.Name)</h5>
                    if (!string.IsNullOrEmpty(ConversationParticipants))
                    {
                        <h6>@ConversationParticipants</h6>
                    }
                    <div class="scrollable-container" id="messages-container">
                        @foreach (Entity message in Messages)
                        {
                            string conversationName = ((EntityReference)message["ConversationId"])?.Name;
                            string className = DefaultContact.SameAs((EntityReference)message["FromContactId"]) ? "message darker" : "message";
                            DateTime? sentOn = (DateTime?)(message["SentOn"] ?? message["ProvisionalSentOn"]);
                            <ChatMessage ClassName="@className"
                                MessageText="@((string)message["Text"])"
                                SentOn="@sentOn"
                                Message="@message"
                                ConversationName="@conversationName"
                                Contact="@((EntityReference)message["FromContactId"])" 
                            />
                        }
                    </div>
                }
                else
                {
                    <h5>@($"No messages")</h5>
                }
            }
            else
            {
                <h4>Select Contact</h4>
            }
        </div>
        <div class="col">
            <form class="row g-1">
                <div class="reverse-button" @onclick="ReverseAddressees">
                    <i class="fas fa-exchange-alt fa-rotate-90"></i>
                </div>
                <EntityAttributes Attributes="newEntityAttributes" FieldDefinitions="MessagesFields" />
                <div class="col-auto">
                    <button type="button" class="btn btn-info rounded-0" @onclick="CreateEntity">Add Message</button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    private List<EntityReference> Conversations = new List<EntityReference>();
    private List<EntityReference> VisibleConversations = new List<EntityReference>();
    private List<Entity> Messages = new List<Entity>();
    private List<SysField> MessagesFields;
    private List<Attribute> newEntityAttributes = new List<DataAccessLibrary.Attribute>();
    private string SearchString;
    private Timer searchTimer = new Timer(400);
    private EntityReference DefaultContact = new EntityReference("contact", Guid.Parse("50A79A31-788A-E811-8F78-08002791E63C"));

    private EntityReference SelectedConversation;
    private string ConversationParticipants;

    private void ConversationSelectionChanged(MouseEventArgs e, Guid selectedId)
    {
        SelectedConversation = null;
        ConversationParticipants = "";
        Messages.Clear();
        SelectedConversation = Conversations.FirstOrDefault(x => x.Id == selectedId);
        if (SelectedConversation.LogicalName.ToLower() == "contact")
        {
            newEntityAttributes.Single(x => x.Key == "ToContactId").Value = SelectedConversation;
        }
        else if (SelectedConversation.LogicalName.ToLower() == "conversation")
        {
            newEntityAttributes.Single(x => x.Key == "ConversationId").Value = SelectedConversation;
            var participantsJunctionQE = new QueryExpression("ConversationParticipant");
            participantsJunctionQE.Criteria.AddQuery("EntityAId", ConditionOperator.Equal, SelectedConversation.Id);
            participantsJunctionQE.ColumnSet.AddColumn("EntityBId");
            var aparts = connection.Get(participantsJunctionQE);
            ConversationParticipants = string.Join("; ", connection.Get(participantsJunctionQE).Select(x => x["EntityBId"].ToString()));
        }

        LoadMessages();
    }

    private void ReverseAddressees()
    {
        var from = newEntityAttributes.Single(x => x.Key == "FromContactId").Value;
        var to = newEntityAttributes.Single(x => x.Key == "ToContactId").Value;
        newEntityAttributes.Single(x => x.Key == "ToContactId").Value = from;
        newEntityAttributes.Single(x => x.Key == "FromContactId").Value = to;
    }

    protected override async Task OnInitializedAsync()
    {
        MessagesFields = metadataClient.GetFields("Message");
        newEntityAttributes.Add(new Attribute("FromContactId", DefaultContact));
        newEntityAttributes.Add(new Attribute("ToContactId"));
        newEntityAttributes.Add(new Attribute("SentOn"));
        newEntityAttributes.Add(new Attribute("ProvisionalSentOn"));
        newEntityAttributes.Add(new Attribute("Text"));
        newEntityAttributes.Add(new Attribute("ConversationId"));
        newEntityAttributes.Add(new Attribute("WebsiteId"));
        newEntityAttributes.Add(new Attribute("PlatformId"));
        newEntityAttributes.Add(new Attribute("TextFormat"));

        if (Conversations.Count == 0)
        {
            var contactsQE = new QueryExpression("contact")
                {
                    ColumnSet = new ColumnSet("FullName")
                };
            IEnumerable<EntityReference> contactsEF = connection.Get(contactsQE).Select(x => x.ToEntityReference(x["FullName"] as string));

            var conversationsQE = new QueryExpression("conversation")
                {
                    ColumnSet = new ColumnSet("Subject")
                };
            IEnumerable<EntityReference> conversationsEF = connection.Get(conversationsQE).Select(x => x.ToEntityReference(x["Subject"] as string));
            Conversations = contactsEF.Concat(conversationsEF).ToList();
            VisibleConversations.AddRange(Conversations);
        }

        searchTimer.Elapsed += DoSearch;
    }

    async void LoadMessages()
    {
        string[] fields = new[] { "Text", "SentOn", "ConversationId", "FromContactId", "ToContactId", "ProvisionalSentOn", "MessageAttachments", "QuotedMessageId" };

        var query = new QueryExpression("message");
        query.ColumnSet.AddColumns(fields);
        query.Criteria.AddQuery(new ConditionExpression("FromContactId", ConditionOperator.Equal, SelectedConversation.Id));
        query.Criteria.AddQuery(new ConditionExpression("ToContactId", ConditionOperator.Equal, SelectedConversation.Id));
        query.Criteria.AddQuery(new ConditionExpression("ConversationId", ConditionOperator.Equal, SelectedConversation.Id));
        query.Criteria.QueryOperator = LogicalOperator.Or;

        query.AddOrder("SentOn", "ProvisionalSentOn", OrderType.Descending);
        query.PageInfo.Count = 100;

        Messages = connection.Get(query).ToList();

        StateHasChanged();
        await JSRuntime.InvokeAsync<string>("userJsFunctions.scrollToBottom", "messages-container");
    }

    private async void CreateEntity()
    {
        Entity message = new Entity("message");
        foreach (Attribute attr in newEntityAttributes)
        {
            message[attr.Key] = attr.Value;
        }

        Guid newId = connection.Create(message);

        message.Id = newId;
        message["Id"] = newId;
        Messages.Add(message);
        Messages = Messages.OrderBy(x => x, new MessagesComparer()).ToList();
        newEntityAttributes.Single(x => x.Key == "Text").Value = string.Empty;
        await JSRuntime.InvokeAsync<string>("userJsFunctions.scrollToBottom", "messages-container");
    }

    void SearchStarted(ChangeEventArgs e)
    {
        if (SearchString != e.Value.ToString().ToLower())
        {
            SearchString = e.Value.ToString().ToLower();
            searchTimer.Stop();
            searchTimer.Start();
        }
    }

    private void DoSearch(Object source, ElapsedEventArgs e)
    {
        searchTimer.Stop();
        if (!string.IsNullOrEmpty(SearchString))
        {
            VisibleConversations.Clear();
            foreach (var conversation in Conversations)
            {
                if (conversation.Name.ToLower().IndexOf(SearchString) != -1)
                {
                    VisibleConversations.Add(conversation);
                }
            }
        }
        else
        {
            VisibleConversations = Conversations;
        }
        InvokeAsync(StateHasChanged);
    }
}