@namespace Library.Client.Components.Fields
@inject IEntityRepository connection

<div class="form-group form-group-lookup">
    <label>@FieldDefinition.DisplayName</label>
    <div class="form-control lookup lookup-bullet" @onclick="ToggleSearchMenu">@(internalValue.Name ?? "(none)")</div>
    <div class="search-menu @isMenuHiddenClassName">
        <div class="search-menu-header">
            <label>Search for @FieldDefinition.ParentEntity.DisplayNamePlural</label>
            <div @onclick="ToggleSearchMenu"><i class="fas fa-times search-menu-close-icon" aria-hidden="true"></i></div>
        </div>
        <hr>
        <input type="text" placeholder="Search" @oninput="@(e => SearchStarted(e))" @bind="SearchString">
        <div class="search-results">
            <div @onclick="ClearSelectedValue" class="search-result">[clear]</div>
            @foreach (var item in SearchResults)
            {
                <div @onclick="@(e => SearchResultSelected(item.Id.ToString()))" class="search-result">@item[LookupNameSource]?.ToString()</div>
            }
        </div>
        <hr>
        <div>@SearchResults.Count results found.</div>
    </div>
</div>

@code {
    #region Logic
    private string isMenuHiddenClassName = "hidden";

    private Entity GetSelectedEntity(EntityReference entityReference, string searchFieldName)
    {
        return connection.GetById(entityReference, searchFieldName);
    }

    private void ToggleSearchMenu()
    {
        if (string.IsNullOrEmpty(isMenuHiddenClassName))
        {
            CloseSearchMenu();
        }
        else
        {
            OpenSearchMenu();
        }
    }

    private void CloseSearchMenu()
    {
        ClearSearchResults();
        isMenuHiddenClassName = "hidden";
    }

    private void OpenSearchMenu()
    {
        ClearSearchResults();
        if (PreloadRecordsCount > 0)
        {
            var preloadQE = new QueryExpression(internalValue.LogicalName)
            {
                ColumnSet = new ColumnSet(LookupNameSource),
                PageInfo = new PagingInfo()
                {
                    Count = PreloadRecordsCount
                }
            };
            var _searchResults = connection.Get(preloadQE);
            SearchResults = _searchResults.ToList();
        }
        isMenuHiddenClassName = string.Empty;
        StateHasChanged();
    }

    private void ClearSelectedValue()
    {
        internalValue = new EntityReference(internalValue.LogicalName);
        ClearSearchResults();
        ToggleSearchMenu();
    }
    private void ClearSearchResults()
    {
        SearchString = string.Empty;
        SearchResults.Clear();
    }

    private void SearchResultSelected(string id)
    {
        var _id = Guid.Parse(id);
        var result = SearchResults.Single(x => x.Id == _id);
        internalValue = result.ToEntityReference(result[LookupNameSource]?.ToString());
        ClearSearchResults();
        ToggleSearchMenu();
    }

    private Timer searchTimer = new Timer(400);
    private string SearchString;
    private List<Entity> SearchResults = new List<Entity>();
    void SearchStarted(ChangeEventArgs e)
    {
        if (SearchString.ToLower() != e.Value.ToString().ToLower())
        {
            SearchString = e.Value.ToString();
            if (SearchString.Length >= 3)
            {
                searchTimer.Stop();
                searchTimer.Start();
            }
        }
    }

    private async void DoSearch(Object source, ElapsedEventArgs e)
    {
        searchTimer.Stop();
        if (!string.IsNullOrEmpty(SearchString))
        {
            var searchQE = new QueryExpression(internalValue.LogicalName)
            {
                ColumnSet = new ColumnSet(LookupNameSource),
                Criteria = new FilterExpression()
            };
            searchQE.Criteria.Queries.Add(new ConditionExpression(LookupNameSource, ConditionOperator.Like, SearchString));
            var _searchResults = connection.Get(searchQE);
            SearchResults = _searchResults.ToList();
        }
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnParametersSet()
    {
        if (Output == null)
        {
            internalValue = new EntityReference();
        }
        else
        {
            internalValue = (EntityReference)Output;
        }

        internalValue.LogicalName = FieldDefinition.ReferenceTarget.TargetField.ParentEntity.Name;
        if (internalValue.Id != null && internalValue.Id != Guid.Empty)
        {
            var entity = GetSelectedEntity(internalValue, LookupNameSource);
            if (entity != null && entity.Attributes.Contains(LookupNameSource))
            {
                internalValue.Name = entity[LookupNameSource].ToString();
            }
        }
    }

    protected override void OnInitialized()
    {
        searchTimer.Elapsed += DoSearch;
    }
    #endregion

    [Parameter]
    public SysField FieldDefinition { get; set; }

    private EntityReference _internalValue;
    public EntityReference internalValue
    {
        get => _internalValue;
        private set {
            if (_internalValue == value) return;
            _internalValue = value;
            Output = value;
        }
    }

    private object _output;
    [Parameter]
    public object Output
    {
        get => _output;
        set
        {
            if (_output == value) return;
            _output = value;
            OutputChanged.InvokeAsync(value);
        }
    }

    public string LookupNameSource { get => FieldDefinition.ReferenceTarget.SearchAtField.Name; }

    [Parameter]
    public int PreloadRecordsCount { get; set; } = 0;

    [Parameter]
    public EventCallback<object> OutputChanged { get; set; }
}